.filter{
    padding: 10px;
    width: 15vw;
    height: 92vh;
    border: 1px solid;
    border-top: none;
    display: flex; flex-direction: column; gap: 10px;
}
.games .searchDiv{
    display: flex;
    gap: 5px;
    width: 100%;
}
.cardlist{
    width: 100%;
    max-height: 92vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid peachpuff;
    /* display: grid; grid-template-columns: repeat(5, 1fr); */
    justify-content: center; align-items: center;
    display: flex; flex-wrap: wrap; 
    gap: 20px;
    padding: 30px;
}
.hbox{
    display: flex;
}
.card{
    height: 230px;
    width: 230px;
    border: 1px solid;
}

.games .genres{
    display: flex;
    gap: 5px;
}

@media screen and (min-width: 1200px) and (max-width: 1520px) {
    /* .cardlist{
        display: grid; grid-template-columns: repeat(4, 1fr);
        justify-content: center; align-items: center;
    } */
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    /* .cardlist{
        display: grid; grid-template-columns: repeat(3, 1fr);
        justify-content: space-between; align-items: center;
    } */
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    /* .cardlist{
        display: grid; grid-template-columns: repeat(2, 1fr);
        justify-content: center; align-items: center;
    } */
}