.filter{
    padding: 10px;
    width: 250px;
    height: 92vh;
    border: 1px solid;
    border-top: none;
    display: flex; flex-direction: column; gap: 10px;
}
.games .searchDiv{
    display: flex; gap: 5px; align-items: center;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.filterIcon{
    display: none;
    width: 50px; height: 50px;
    margin: 5px;
}

.close{
    display: none;
}

.close:hover{
    color: red;
    cursor: pointer;
}

.searchDiv .searchBar{
    border: none;
    padding: 5px;
}

.searchDiv .searchBtn{
    border: 1px solid grey; border-radius: 5px; padding: 5px;
    background-color: rgb(30, 79, 126); color: white;
}

.games .cardlist{
    width: 100%;
    max-height: 92vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid peachpuff;
    /* display: grid; grid-template-columns: repeat(5, 1fr); */
    display: flex; flex-wrap: wrap; justify-content: center;
    gap: 20px;
    padding: 30px 5px;
}
.hbox{
    display: flex;
    position: relative;
}
.games .card{
    height: 230px;
    width: 230px;
    border: 1px solid;
}

.games .genres{
    display: flex;
    gap: 5px;
}

@media screen and (max-width: 1010px) {
    .hbox{
        height: 92vh;
    }
    .filter{
        display: none;
        left: -100%;
        position: absolute;
        padding: 10px;
        width: 250px;
        height: 92vh;
        border: 1px solid;
        border-top: none;
        display: flex; flex-direction: column; gap: 10px;
        z-index: 1000;
        background-color: grey;
        transition: left 0.8s ease-in-out;
    }
    .filterIcon{
        display: inline;
        background-color: white;
    }
    .filter.show {
        left: 0;
    }
    .close{
        display: inline;
        /*position: absolute;
        top: 5px;
        right: 5px;
        margin-bottom: 10px;*/
    }
}


@media screen and (min-width: 900px) and (max-width: 1200px) {
    /* .cardlist{
        display: grid; grid-template-columns: repeat(3, 1fr);
        justify-content: space-between; align-items: center;
    } */
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    /* .cardlist{
        display: grid; grid-template-columns: repeat(2, 1fr);
        justify-content: center; align-items: center;
    } */
}