.navbar{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 20px;
    height: 8vh;
    background-color: darkslategrey;
}

.navbar .left, .right{
   display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .page{
    font-size: 26px;
}

.navbar .page:hover{
    color: aqua;
    cursor: pointer;
}

.navbar .mode{
    margin-right: 10px;
}

.navbar .ikon{
    font-size: 25px;
}
.navbar .mode .ikon:hover{
    cursor: pointer;
}

.navbar .profName{
    font-size: 20px;
}

.navbar .profPicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .profPicture:hover{
    cursor: pointer;
}

@media screen and (min-width:601px) and (max-width: 900px) {
    .navbar .page{
        font-size: 23px;
    }
    .navbar .ikon{
        font-size: 22px;
    }
    .navbar .profName{
        font-size: 19px;
    }
}

@media screen and (min-width:401px) and (max-width: 600px) {
    .navbar{
        justify-content: center;
    }
    .navbar .page{
        font-size: 20px;
    }
    .navbar .ikon{
        font-size: 19px;
    }
    .navbar .profName{
        font-size: 17px;
    }
    .navbar .mode{
        margin-right: 0px;
        margin-left: 10px;
    }
    .navbar .profPicture{
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width:0px) and (max-width: 401px) {
    .navbar{
        padding: 10px;
        gap: 5px;
    }
    .navbar .page{
        font-size: 15px;
    }
    .navbar .ikon{
        font-size: 14px;
    }
    .navbar .profName{
        font-size: 12px;
    }
    .navbar .mode{
        margin-right: 0px;
        margin-left: 10px;
    }
    .navbar .profPicture{
        width: 28px;
        height: 28px;
    }
}