.navbar{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 20px;
    height: 8vh;
    background-color: whitesmoke;
}

.navbar .left, .right{
   display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .page{
    font-size: 26px;
}

.navbar .page:hover{
    color: aqua;
    cursor: pointer;
}

.navbar .mode{
    margin-right: 10px;
}

.navbar .mode .ikon:hover{
    cursor: pointer;
}

.navbar .profName{
    font-size: 20px;
}

.navbar .profPicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .profPicture:hover{
    cursor: pointer;
}