*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app{
    width: 100vw;
    height: 100vh;
}

/*Navbar*/
.navbar{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 20px;
    height: 8vh;
    background-color: whitesmoke;
}

.navbar .left, .right{
   display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .page{
    font-size: 26px;
}

.navbar .page:hover{
    color: aqua;
    cursor: pointer;
}

.navbar .mode{
    margin-right: 10px;
}

.navbar .mode .ikon:hover{
    cursor: pointer;
}

.navbar .profName{
    font-size: 20px;
}

.navbar .profPicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .profPicture:hover{
    cursor: pointer;
}



.filter{
    padding: 10px;
    width: 15vw;
    height: 92vh;
    border: 1px solid;
    border-top: none;
    display: flex; flex-direction: column; gap: 10px;
}
.cardlist{
    width: 100%;
    max-height: 92vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid peachpuff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px;
}
.hbox{
    display: flex;
}
.card{
    height: 40vh;
    width: 15vw;
    border: 1px solid;
}


