*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app{
    min-width: 100vw;
    min-width: 100vh;
    
}

.dark{
    background-color: #151515;
    color: white;
}




